<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lucid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

    </assemblyBinding>
  </runtime>
  <userSettings>
    <Lucid.Properties.Settings>
      <setting name="Login_Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Login_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Login_RememberMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="General_WaitDelayMin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="General_WaitDelayMax" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="General_PreHaggleMin" serializeAs="String">
        <value />
      </setting>
      <setting name="General_PreHaggleMax" serializeAs="String">
        <value />
      </setting>
      <setting name="General_OCRDelayMin" serializeAs="String">
        <value />
      </setting>
      <setting name="General_OCRDelayMax" serializeAs="String">
        <value />
      </setting>
      <setting name="General_HagglePercent" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MS_ShopID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Web_UserAgent" serializeAs="String">
        <value />
      </setting>
      <setting name="Web_ProxyUri" serializeAs="String">
        <value />
      </setting>
      <setting name="Web_ProxyUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="Web_ProxyPassword" serializeAs="String">
        <value />
      </setting>
    </Lucid.Properties.Settings>
  </userSettings>
</configuration>
