<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lucid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

    </assemblyBinding>
  </runtime>
  <userSettings>
    <Lucid.Properties.Settings>
      <setting name="Login_Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Login_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Login_RememberMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="General_WaitDelayMin" serializeAs="String">
        <value>3.0</value>
      </setting>
      <setting name="General_WaitDelayMax" serializeAs="String">
        <value>5.0</value>
      </setting>
      <setting name="General_PreHaggleMin" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="General_PreHaggleMax" serializeAs="String">
        <value>0.7</value>
      </setting>
      <setting name="General_OCRDelayMin" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="General_OCRDelayMax" serializeAs="String">
        <value>1.4</value>
      </setting>
      <setting name="General_HagglePercent" serializeAs="String">
        <value>5.2</value>
      </setting>
      <setting name="MS_ShopID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Web_UserAgent" serializeAs="String">
        <value>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/46.0.2490.71 Safari/537.36</value>
      </setting>
      <setting name="Web_ProxyUri" serializeAs="String">
        <value />
      </setting>
      <setting name="Web_ProxyUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="Web_ProxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="Web_ProxyEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UI_Accent" serializeAs="String">
        <value>Blue</value>
      </setting>
    </Lucid.Properties.Settings>
  </userSettings>
</configuration>
